@charset "ISO-8859-1";
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    background: #ecf0f3;
    width: 100vw;
  height: 100vh;
  display: flex;
   overflow: hidden;
  
  
}  